.git
.github
.gitignore
.gitattributes
.idea
.vscode
.trae
.venv
__pycache__
*.pyc
*.pyo
.run-logs
.cache
*.log
*.sqlite3
*.db
*.key
*.pem
*.pfx
**/password.txt
.env
.env.*
!.env.docker.example
!backend/.env.template
frontend/node_modules
frontend/dist
frontend/dist-ssr
var
backend/static/*
!backend/static/default
!backend/static/default/**
