.git
.github
.gitignore
.gitattributes
.idea
.vscode
.trae
.venv
__pycache__
*.pyc
*.pyo
.run-logs
*.log
*.sqlite3
*.db
*.key
*.pem
*.pfx
**/password.txt
.env
.env.*
!.env.docker.example
!backend/.env.template
frontend/node_modules
frontend/dist
frontend/dist-ssr
backend/log
backend/temp_files
temp_files
embedding/web_data_embeddings
backend/static/*
!backend/static/default
!backend/static/default/**
